body{
    background-color: #f4b1fd;
    background-size: cover;
    margin-top: 10rem;
    z-index: -1;
    height: auto;
    /* text-align: center; */
}
.body-text{
    height: 100vh;
    width: 100%;
    font-size: 6rem;
    padding:14%;
    margin: auto;
    font-family: 'Monoton', cursive;
}
.nav-bar{
    height: 80px;
    width: 100vw;
    background-color: paleturquoise;
    position: fixed;
    top: 0;
    text-align: center;
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url("assets/food.png");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 40px;
    width: 28rem;
    border: 2px solid yellow;
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    font-size: 2rem;
    font-weight: bold;
}
.search{
    height: 40px;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    border: 3px solid yellow ;
    background-color: rgba(255,255,255,0.8);
}
.recipe-container{
    /* height: 100vh; */
    width: 95%;
    margin: 8rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: center; */
    overflow-x: hidden;
}
.food-box{
    height: 560px;
    width: 300px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url("assets/foodborder.jpg");
    background-size: cover;
    background-color: wheat;
    margin-bottom : 2rem;
    box-shadow: 0 0 10px black ;
    padding: 5%;
}
   
.food-box img{
    width: 100%;
    height: 300px;
   
}
h2{
    margin:1rem;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* White glow */

}
h2:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 1); /* White glow */
    color: darkgreen;
}
h3{
    margin: auto 1rem;
    display: flex;
    justify-content: space-between;
}
.btn-div{
    display: flex;
}
.btn{
    text-align: center;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    background-color: darkgreen;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 0.5rem auto;
    border-radius: 10px;
}
.display-btn{
    display: none;
}
.materialdiv{
    max-height: 120px;
    overflow: auto;
    margin-top: 1.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
}
ul{
    max-height: 50px;
}